body{
  background-color: #525252;
}
.centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-title{
padding-left: 48.5%;
}

.btn3d.btn-info {
  box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color:rgb(14, 97, 122);
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
  box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
  background-color: black;
}

.container{
  padding-top:18%;
}
